@page "/"
@using System.Threading

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>The time is now @Time</p>

@code {

  private string Time { get; set; }

  protected override void OnInitialized() {
    Timer timer = new Timer(_ => {
      Time = DateTime.UtcNow.ToLongTimeString();
      InvokeAsync(StateHasChanged);
    }, null, 0, 1000);
    base.OnInitialized();
  }

}